.label{

    text-align: center;
}
.carousel{
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left:10%;
    margin-right: 10%;
}
.text-container{
    background: #00c2cb;
    margin-left:5%;
    margin-right: 5%;
    padding-top:1%;
    padding-bottom:1%;
    margin-top:1%;
    margin-bottom: 3%;
}
.text{
    line-height: 200%;
    padding-left:10%;
    padding-right:10%;
}