ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f9ae68;
    padding-left: 1%;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #f89b45;
  }

  .headertitle {
    font-size: 2.5em;
    color: white;
    margin:5%
  }